In [59]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv('owid_covid_data.csv')
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429430,ZWE,Africa,Zimbabwe,2024-07-31,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429431,ZWE,Africa,Zimbabwe,2024-08-01,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429432,ZWE,Africa,Zimbabwe,2024-08-02,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429433,ZWE,Africa,Zimbabwe,2024-08-03,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429434,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN

In [60]:
countries = df['location'].unique()#list of countries
columns = list(df)#list of columns

In [61]:
scaler = MinMaxScaler().set_output(transform='pandas')#scale by minmax, since values are all positive and doesn't follow a normal distribution, when sorting values by date

stand_df = df#make a copy of df
stand_df = stand_df.sort_values(by='date')#sort values by date so the shape of the data is consistent and doesn't fluctuate when sorted by country
cs = stand_df.select_dtypes(exclude='object')#only scale numerical objects
cs = cs.loc[:, cs.sum() > 0]#get columns where the sum is greater than 0, so there's no dividing by 0
cols = cs.columns
stand_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
243694,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,21.400,87.847,1.380,75.05,0.779,127504120,NaN,NaN,NaN,NaN
15066,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,45510324,NaN,NaN,NaN,NaN
243695,MEX,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,21.400,87.847,1.380,75.05,0.779,127504120,NaN,NaN,NaN,NaN
15067,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,45510324,NaN,NaN,NaN,NaN
243696,MEX,North America,Mexico,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,21.400,87.847,1.380,75.05,0.779,127504120,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217093,LTU,Europe,Lithuania,2024-08-14,NaN,NaN,NaN,NaN,NaN,NaN,...,38.000,NaN,6.560,75.93,0.882,2750058,NaN,NaN,NaN,NaN
230301,MYS,Asia,Malaysia,2024-08-14,NaN,NaN,NaN,NaN,NaN,NaN,...,42.400,NaN,1.900,76.16,0.810,33938216,NaN,NaN,NaN,NaN
21775,OWID_ASI,NaN,Asia,2024-08-14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4721383370,NaN,NaN,NaN,NaN
424412,OWID_WRL,NaN,World,2024-08-14,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7975105024,NaN,NaN,NaN,NaN
121602,OWID_EUN,NaN,European Union (27),2024-08-14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,450146793,NaN,NaN,NaN,NaN

In [62]:
stand_df.loc[:,cols] = scaler.fit_transform(stand_df[cols])#fit and transform scaler to stand_df
stand_df = stand_df.sort_index()#sort stand_df to normal
stand_df

/var/folders/15/5_06gwdn0rs16jky7k2nfmvr0000gn/T/ipykernel_71445/3583304889.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.01598776 0.00570654 0.01598776 ... 0.59201519 1.         0.05644399]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  stand_df.loc[:,cols] = scaler.fit_transform(stand_df[cols])#fit and transform scaler to stand_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.000000,0.0,NaN,0.000000,0.0,NaN,...,NaN,0.369975,0.029197,0.345085,0.207815,0.005157,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.000000,0.0,NaN,0.000000,0.0,NaN,...,NaN,0.369975,0.029197,0.345085,0.207815,0.005157,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.000000,0.0,NaN,0.000000,0.0,NaN,...,NaN,0.369975,0.029197,0.345085,0.207815,0.005157,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.000000,0.0,NaN,0.000000,0.0,NaN,...,NaN,0.369975,0.029197,0.345085,0.207815,0.005157,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.000000,0.0,NaN,0.000000,0.0,NaN,...,NaN,0.369975,0.029197,0.345085,0.207815,0.005157,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429430,ZWE,Africa,Zimbabwe,2024-07-31,0.000343,0.0,0.0,0.000813,0.0,0.0,...,0.326705,0.360310,0.116788,0.245294,0.314387,0.002046,NaN,NaN,NaN,NaN
429431,ZWE,Africa,Zimbabwe,2024-08-01,0.000343,0.0,0.0,0.000813,0.0,0.0,...,0.326705,0.360310,0.116788,0.245294,0.314387,0.002046,NaN,NaN,NaN,NaN
429432,ZWE,Africa,Zimbabwe,2024-08-02,0.000343,0.0,0.0,0.000813,0.0,0.0,...,0.326705,0.360310,0.116788,0.245294,0.314387,0.002046,NaN,NaN,NaN,NaN
429433,ZWE,Africa,Zimbabwe,2024-08-03,0.000343,0.0,0.0,0.000813,0.0,0.0,...,0.326705,0.360310,0.116788,0.245294,0.314387,0.002046,NaN,NaN,NaN,NaN
429434,ZWE,Africa,Zimbabwe,2024-08-04,0.000343,0.0,0.0,0.000813,0.0,0.0,...,0.326705,0.360310,0.116788,0.245294,0.314387,0.002046,NaN,NaN,NaN,NaN

In [ ]:
#Note: This cell takes approximately 3 minutes to run
from pandas.api.types import is_numeric_dtype
df_prep = pd.DataFrame(columns=columns)#empty dataframe to add preprocessed data
ls_prep = []#list for faster concatenation

for c in countries:#preprocess one country at a time
    temp_df = df[df['location'] == c]#create subdataframe for each country

    if temp_df['continent'].notnull().any():#checks to see if 'country' is a country or a continent
        temp_df.reset_index(drop=True, inplace=True)#reset indexes

        for i in columns:#iterate through the columns
            cont_df = df[df['location'] == temp_df['continent'][0]]#create subdataframe matching the country's continent
            cont_df.reset_index(drop=True, inplace=True)
            temp_df.loc[:,i] = temp_df[i].fillna(cont_df[i])#insert values from the continent dataframe

            if(is_numeric_dtype(temp_df[i])):
                temp_df.loc[:,i] = temp_df[i].interpolate(method='linear')#interpolate values if they are numeric

            temp_df.loc[:,i] = temp_df[i].fillna(0)#fill the rest of nan's with 0s
    ls_prep.append(temp_df)#append each country to a list

/var/folders/15/5_06gwdn0rs16jky7k2nfmvr0000gn/T/ipykernel_71445/3152449567.py:14: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  temp_df.loc[:,i] = temp_df[i].fillna(cont_df[i])#insert values from the continent dataframe
/var/folders/15/5_06gwdn0rs16jky7k2nfmvr0000gn/T/ipykernel_71445/3152449567.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  temp_df.loc[:,i] = temp_df[i].fillna(0)#fill the rest of nan's with 0s

In [63]:
df_prep = pd.concat(ls_prep)#preprocessed dataframe
df_prep.reset_index(drop=True, inplace=True)#reset indices
df_prep

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429430,ZWE,Africa,Zimbabwe,2024-07-31,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,0.0,0.0,0.0,0.0
429431,ZWE,Africa,Zimbabwe,2024-08-01,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,0.0,0.0,0.0,0.0
429432,ZWE,Africa,Zimbabwe,2024-08-02,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,0.0,0.0,0.0,0.0
429433,ZWE,Africa,Zimbabwe,2024-08-03,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,0.0,0.0,0.0,0.0
429434,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,0.0,0.0,0.0,0.0